.footer{
    background-color: $negro;
    height: 150px;
    padding: $padding;
    .footer-content{
        text-align: center;
        h3{
            font-size: 1.2rem;
            margin: 10px auto;
        }
        div{
            display: flex;
            justify-content: center;
            .img-footer{
                width: 50px;
                margin: $margin;   
            }
        }
    }
    
    
    
    
}